{{ with .Site.Params.commento }}
<div id="commento_thread"></div>
<script defer src="https://cdn.commento.io/js/commento.js"></script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9990645318656892"
     crossorigin="anonymous"></script>

<div id="commento"></div>
<noscript>This site uses privacy-respecting comments integration provided by <a href="https://commento.io/">Commento</a>.  Please enable Javascript to see comments.</noscript>
{{ end }}